.about_container {
    text-align: center;
    padding: 5rem 0 6rem 0;
    max-width: 1400px;
    margin: auto;

}

.abt_me {
    color: rgb(41, 41, 41);
    padding-bottom: 5rem;
    position: relative;
}
.abt_me span{
    color: #3586FF;
}

.abt_me::after {
    content: "";
    position: absolute;
    display: block;
    left: 46.6%;
    width: 6.6%;
    height: 6px;
    border-radius: 5px;
    background-color: #3586FF;
}

.about_content {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

.about_content span:hover {
    cursor: pointer;
}

/* small Screen */
@media screen and (max-width:425px) {

    .abt_me {
        font-size: 1.5rem;
    }

    .about_content {
        font-size: 19px;
    }

    .abt_me::after {
        left: 44.6%;
        width: 11.6%;
    }
}