/* Variables */
:root {
    --primary-shadow: #8b8eaf;
    --bottom-margin: 0.5rem;
}

/* Project  card new css*/

.portfoilo {
    color: #ffffff;
    padding-top: 8rem;
    /* margin-top: 2rem; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233586FF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23555555'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

}

.portfoilo .heading {
    text-align: center;
    color: #000;
}

.heading span {
    color: #4c8be8;
}

.heading {
    color: rgb(41, 41, 41);
    position: relative;
    margin-bottom: 5rem;
    text-align: center;

}

.heading::after {
    content: "";
    position: absolute;
    display: block;
    left: 47.6%;
    width: 4%;
    height: 6px;
    border-radius: 5px;
    background-color: #3586FF;
    margin-top: 3px;
}

.projects-title {
    color: #757575;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 2px;
    align-items: center;
    text-align: center;
}

.portfoilo h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.portfolio-container .portfolio-box {
    position: relative;

    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(93, 93, 93);
    overflow: hidden;
    display: flex;
    margin-bottom: 8rem;
}

.portfolio-box .project-img {
    object-fit: cover;
    width: 100%;
    transition: .6s ease;
    height: 16rem;
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .3), #2363c3);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2rem;
    padding-top: 1rem;
    letter-spacing: 3px;
    text-shadow: rgb(5, 126, 255) 2px 2px 6px;
}

.portfolio-layer p {
    font-size: 1.1rem;
    margin: .2rem 0 1rem;
    text-shadow: black 2px 2px;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #000000;
    font-weight: bold;
}

.portfolio-layer a i {
    font-size: 1rem;
    /* color: rgb(255, 255, 255); */
    font-size: 1.5rem;
}

.projects-link-btn {
    border-radius: 2rem;
    padding: 0 4px 0 4px;

}


.projects-link-btn:hover {
    background-color: #d8d8d8;
}


/* Carousel project */


.project p {
    color: #ffffff;
}

.project .nav.nav-pills {
    width: 42%;
    margin: 0 auto;
    margin-bottom: 7rem;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.885);
    overflow: hidden;
}

/* .project .nav.nav-pills .nav-item {
    width: 33.33333%;
  } */
.project .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 72.8px;
    color: #fff;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#projects-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}


.fade:not(.show) {
    opacity: 0;
}

div.row {
    display: block;
}

/* .fade {
    transition: opacity .15s linear;
} */

*,
::after,
::before {
    box-sizing: border-box;
}


/* Media query */

@media (max-width:1124px) {
    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-layer h4 {
        font-size: 1.5rem;
        padding-top: 1rem;
        letter-spacing: 2px;
    }

    .project .nav.nav-pills {
        width: 37%;

    }

    .project .nav.nav-pills .nav-link {

        padding: 35px;


    }


}

@media (max-width:991px) {
    .portfolio {
        padding-bottom: 5rem;
    }

    .portfolio-layer h4 {
        font-size: 1.5rem;
        padding-top: 1rem;
        letter-spacing: 2px;
    }

    .project .nav.nav-pills {
        width: 47%;

    }

    .project .nav.nav-pills .nav-link {

        padding: 34px;
        font-size: 15px;

    }
}

@media (max-width:726px) {
    .portfolio-box .project-img {
        object-fit: cover;
        width: 100%;
        transition: .6s ease;
        height: 14rem;

    }

    .portfolio-container {
        grid-template-columns: 1fr;
        width: 21rem;
    }

    .heading::after {
        left: 47.6%;
        width: 5%;
    }

    .portfolio-layer h4 {
        font-size: 1.8rem;
        padding-top: 1rem;
        letter-spacing: 1.9px;
    }

    .portfolio-layer p {
        font-size: 0.9rem;
        margin: .2rem 0 1rem;
    }

    .project .nav.nav-pills {
        width: 80%;

    }

    .project .nav.nav-pills .nav-link {

        padding: 23px;
        font-size: 15px;

    }
}

@media (max-width:320px) {
    .project .nav.nav-pills .nav-link {

        padding: 21px;
        font-size: 15px;

    }

    .project .nav.nav-pills {
        width: 90%;

    }

    .portfolio-layer p {
        font-size: 0.9rem;
        margin: .2rem 0 1rem;
    }
}